<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%= yield(:page_title) || 'Ruby on Rails guides' %></title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

<link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />
</head>
<body class="guide">
  <% if @edge %>
  <div>
    <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong>Více informací najdete na <a href="http://rubyonrails.cz/">rubyonrails.cz</a> </strong>
      <small>
      |
      <a href="http://rubyonrails.cz/">Hlavní stránka</a> |
      <a href="http://groups.google.com/group/rubyonrailscz">Diskusní skupina</a> |
      <a href="http://webchat.freenode.net/?randomnick=1&amp;channels=rubyonrails.cz&amp;prompt=1&amp;uio=OT10cnVlJjExPTIxNQ6c">IRC</a>
      </small>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Ruby On Rails návody v češtině">Guides.rubyonrails.cz</a></h1>
      <p class="hide"><a href="#mainCol">Přeskočit navigaci</a>.</p>
      <ul class="nav">
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Seznam návodů</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="L">
              <dt>Začněte zde</dt>
              <dd><a href="getting_started.html">Začínáme s Ruby On Rails</a></dd>
              <dt>Models</dt>
              <dd><a href="http://guides.rubyonrails.org/migrations.html">Rails Database Migrations</a></dd>
              <dd><a href="http://guides.rubyonrails.org/active_record_validations_callbacks.html">Active Record Validations and Callbacks</a></dd>
              <dd><a href="http://guides.rubyonrails.org/association_basics.html">Active Record Associations</a></dd>
              <dd><a href="http://guides.rubyonrails.org/active_record_querying.html">Active Record Query Interface</a></dd>
              <dt>Views</dt>
              <dd><a href="http://guides.rubyonrails.org/layouts_and_rendering.html">Layouts and Rendering in Rails</a></dd>
              <dd><a href="http://guides.rubyonrails.org/form_helpers.html">Action View Form Helpers</a></dd>
              <dt>Controllers</dt>
              <dd><a href="http://guides.rubyonrails.org/action_controller_overview.html">Action Controller Overview</a></dd>
              <dd><a href="http://guides.rubyonrails.org/routing.html">Rails Routing from the Outside In</a></dd>
            </dl>
            <dl class="R">
              <dt>Digging Deeper</dt>
              <dd><a href="http://guides.rubyonrails.org/active_support_core_extensions.html">Active Support Core Extensions</a></dd>
              <dd><a href="http://guides.rubyonrails.org/i18n.html">Rails Internationalization API</a></dd>
              <dd><a href="http://guides.rubyonrails.org/action_mailer_basics.html">Action Mailer Basics</a></dd>
              <dd><a href="http://guides.rubyonrails.org/testing.html">Testing Rails Applications</a></dd>
              <dd><a href="http://guides.rubyonrails.org/security.html">Securing Rails Applications</a></dd>
              <dd><a href="http://guides.rubyonrails.org/debugging_rails_applications.html">Debugging Rails Applications</a></dd>
              <dd><a href="http://guides.rubyonrails.org/performance_testing.html">Performance Testing Rails Applications</a></dd>
              <dd><a href="http://guides.rubyonrails.org/configuring.html">Configuring Rails Applications</a></dd>
              <dd><a href="http://guides.rubyonrails.org/command_line.html">Rails Command Line Tools and Rake Tasks</a></dd>
              <dd><a href="http://guides.rubyonrails.org/caching_with_rails.html">Caching with Rails</a></dd>

              <dt>Extending Rails</dt>
              <dd><a href="http://guides.rubyonrails.org/plugins.html">The Basics of Creating Rails Plugins</a></dd>
              <dd><a href="http://guides.rubyonrails.org/rails_on_rack.html">Rails on Rack</a></dd>
              <dd><a href="http://guides.rubyonrails.org/generators.html">Creating and Customizing Rails Generators</a></dd>

              <dt>Contributing to Rails</dt>
              <dd><a href="http://guides.rubyonrails.org/contributing_to_rails.html">Contributing to Rails</a></dd>
              <dd><a href="http://guides.rubyonrails.org/api_documentation_guidelines.html">API Documentation Guidelines</a></dd>
              <dd><a href="http://guides.rubyonrails.org/ruby_on_rails_guides_guidelines.html">Ruby on Rails Guides Guidelines</a></dd>

              <dt>Release Notes</dt>
              <dd><a href="http://guides.rubyonrails.org/3_0_release_notes.html">Ruby on Rails 3.0 Release Notes</a></dd>
              <dd><a href="http://guides.rubyonrails.org/2_3_release_notes.html">Ruby on Rails 2.3 Release Notes</a></dd>
              <dd><a href="http://guides.rubyonrails.org/2_2_release_notes.html">Ruby on Rails 2.2 Release Notes</a></dd>
            </dl>
          </div>
        </li>
        <li><a href="http://guides.rubyonrails.org/contribute.html">Contribute</a></li>
        <li><a href="http://guides.rubyonrails.org/credits.html">Credits</a></li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield.html_safe %>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License</p>
      <p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/guides.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all()
  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20515319-1']);
    _gaq.push(['_setDomainName', 'guides.rubyonrails.cz']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
